// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #48c5db;
$pink: #e074e0;
$yellow: #fee85f;
$orange: #E67E22;
$green: #a0d55e;
$gray: #0E0000;
$dark-gray: #363945;
$light-gray: #F4F4F4;
$pacific-blue: #38aecc;
$english-vermillion: #d64550;
$saffron: #f8c630;
$jet: #333333;

