<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Decide For me, the collective decision making app!</h1>
    <p>
      You have successfully signed up to Decide-for.me,
      your username is: <%= @username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!🌴 </p>
  </body>
</html>
