#main-header {
  color: white;
}

.about-main-container {
  margin: 50px;
  text-align: center;
  justify-content: space-around;
}


.about-card {
  // border: 1px solid;
  box-shadow: 10px 10px 8px;
  border-radius: 10px;
  width: 350px;
  height: 440px;
  background-color: #F6F6F4;
  margin: 0 auto;
}


.about-card-contents img {
  width: 100%;
  height: 100%;
  border-radius: 200%;
  