#main-header {
  color: white;
}

.about-main-container {
  margin: 50px;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.about-card {
  // border: 1px solid;
  box-shadow: 10px 10px 8px;
  border-radius: 10px;
  width: 350px;
  height: 440px;
  background-color: #F6F6F4;
  margin: 0 auto;
}

// .about-card-contents {
//   margin: 20px;
//   margin-top: 20px;

// }

// .about-card-contents p {
//   color: black;
// }

// .about-card-contents img {
//   width: 80%;
//   height: auto;
//   border-radius: 200%;

//   // border: 3px solid;
// }

// .about-card-contents h3 {
//   margin-top: 20px;
// }
