.background-pattern {
  padding: 90px;
  h1 {
    color: $blue;
    font-family: $body-font;
    font-size: 50px;
  }
  a:hover {
    color: black;
    font-weight: bold;
  }
  h5 {
    letter-spacing: 2px;
  }
}

.background-transparency {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  box-sizing: content-box;
}

.background-dark {
  background-color: $dark-gray;
  width: 100%;
}

.color-card {
  height: 15em;
  width: 100%;
  img {
    height: 15em;
    object-fit: cover;
    width: 100%;
  }
}

.color-card-half {
  height: 15em;
  width: 7em;
}

.card-note {
  font-weight: bold;
  color: black;
  font-family: $headers-font;
}

.white-container {
  width: 100%;
  height: 70vh;
  margin: 0;
  background-color: white;
}

.white-container-text {
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 5px;
  font-size: 20px;
  position: relative;
}

.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


#card-fourth-section {
  width: 18em;
}

.circle {
  width: 30px;
  height: 30px;
}

#quote {
  color: white;
  font-size: 38px;
}

// fifth section
.space-container {
  height: 12vh;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.quote-section {
  height: 27vh;
  width: 100%;
  background-color: $dark-gray;
  text-align: center;
}

.quote-section-last {
  height: 18vh;
  width: 100%;
  background-color: $dark-gray;
}

.quote-parent {
  position: relative;
}

.quote-child {
  position: absolute;
  top: 0;
  right: 0;
}
