.background-pattern {
  padding: 90px;
  h1 {
    color: $blue;
    font-family: $body-font;
    font-size: 50px;
  }
  a:hover {
    color: black;
    font-weight: bold;
  }
  h5 {
    letter-spacing: 2px;
  }
}

.background-transparency {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  box-sizing: content-box;
}

.background-dark {
  background-color: $dark-gray;
  width: 100%;
}

.color-card {
  height: 15em;
  width: 100%;
  img {
    height: 15em;
    object-fit: cover;
    width: 100%;
  }
}

.color-card-half {
  height: 15em;
  width: 7em;
}

.card-note {
  font-weight: bold;
  color: black;
  font-family: $headers-font;
}

.white-container {
  width: 100%;
  height: 75vh;
  background-color: white;
}

.white-container-text {
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 5px;
  font-size: 20px;
  position: relative;
}

.shadow {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


#card-fourth-section {
  width: 18em;
}

.circle {
  width: 30px;
  height: 30px;
}

#quote {
  color: white;
  font-size: 38px;
}

// fifth section

#white-container {
  border-radius: 70px;
  border: 4px solid;
  padding: 70px;
  height: 330px;
}

.about-card-contents {
  margin: 20px;
  text-align: center;
}

.about-card-contents img {
  height: 125px;
  width: 125px;
  object-fit: cover;
  border-radius: 200%;
}

// Peace of mind section

#peace-section {
  height: 85vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#peace-quote {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 4px solid;
  border-color: black;
  border-radius: 100px 100px 0px 100px;
  height: 35%;
  width: 35%;
  padding: 45px;
  box-sizing: content-box;
  position: absolute;
  left: 220px;
}

#peace-quote p {
  font-size: 18px;
}

#quote-jolie {
  position: absolute;
  right: -340px;
  bottom: 145px;
  font-size: 40px;
}
// Container fourth section
.gradient-container {
  // display: flex;
  height: 450px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
#categories-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: $easy;
  right: -22px;
  top: 20px;
  border-radius: 200%;
}
#easy-circle {
  color: white;
  position: absolute;
  right: -47px;
}
#active-time-1 {
  position: absolute;
  color: white;
  width: 130px;
  right: -215px;
  top: 5px;
}
#categories-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: $medium;
  right: -22px;
  top: 40px;
  border-radius: 200%;
}
#medium-circle {
  color: white;
  position: absolute;
  right: -70px;
}
#categories-3 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: $hard;
  right: -22px;
  top: 60px;
  border-radius: 200%;
}
#hard-circle {
  color: white;
  position: absolute;
  right: -50px;
}
#post-it {
  margin-top: 5%;
  margin-left: 40px;
}
#post-it-title {
  position: absolute;
  top: -40px;
  left: -20px;
  color: white;
  text-align: center;
}
#fourth-section {
padding: 50px;
}
#quote {
  color: white;
  font-size: 38px;
}

