// Import page-specific CSS files here.
@import "home";
@import "about";

.box-index {
  width: 100%;
  margin: 0 auto;
}

.dilemmas-container {
  box-sizing: border-box;
  width: 100%;
}

.active-parent {
  position: relative;
}

.active-child {
  position: absolute;
  top: 0px;
  right: 0px;
}

.featured-parent {
  position: relative;
}

.featured-child {
  position: absolute;
  top: -27px;
  right: 15px;
}

#min-card-width {
  min-width: 10em;
}

.row .col-sm-6 {
  overflow: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363945;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363945;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363945;
}
