// Import page-specific CSS files here.
@import "home";
@import "about";

.box-index {
  width: 100%;
  margin: 0 auto;
}

.dilemmas-container {
  box-sizing: border-box;
  width: 100%;
}

.row .col-sm-6 {
  overflow: scroll;
}

.container-fluid {
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.container-fluid p {
  color: white;
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363945;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363945;
}
