<div class="about-section">
  <h1>Behind the project </h1>
  <p>The first collective decision making app.</p>
  <!-- <p>Have you ever struggled to make a decision? Struggled with indecision?
    Just needed quick insight from someone? Finally an app that lets others weigh in with unbiased opinions.
  </p> -->
</div>

<br>

<h2 style="text-align:center" id="main-header">The team</h2>

<div class="about-main-container">
  <div class="about-card">
    <div class="about-card-contents">
      <h4>Mariana</h4>
      <%= image_tag "Mariana.jpg" %>
      <h3>Lead Designer</h3>
      <p>Bio</p>
    </div>
  </div>
  <div class="about-card">
    <div class="about-card-contents">
      <h4>Jolie</h4>
      <%= image_tag "Jolie.png" %>
      <h3>Product Owner</h3>
      <p>Bio</p>
    </div>
  </div>
  <div class="about-card">
    <div class="about-card-contents">
      <h4>Iben</h4>
      <%= image_tag "ibenito.png" %>
      <h3>Lead Developer</h3>
      <p>Bio</p>
    </div>
  </div>
  <div class="about-card">
    <div class="about-card-contents">
      <h4>José Luis</h4>
      <%= image_tag "jose2.jpeg" %>
      <h3>Project Manager</h3>
      <p>Bio</p>
    </div>
  </div>
</div>


<p> container</p>
