<div class="about-section">
  <h1>Behind the project </h1>
  <p>The first collective decision making app.</p>
  <!-- <p>Have you ever struggled to make a decision? Struggled with indecision?
    Just needed quick insight from someone? Finally an app that lets others weigh in with unbiased opinions.
  </p> -->
</div>

<br>

<h2 style="text-align:center" id="main-header">Web Developers</h2>

<div class="about-main-container">
  <div class="about-card">
    <div class="about-card-contents">
      <p>Mariana</p>
      <%= image_tag "Mariana.jpg" %>
      <h3>Lead Designer</h3>
    </div>
  </div>
  <div class="about-card">
    <div class="about-card-contents">
      <p>Jolie Adams</p>
      <%= image_tag "Jolie.png" %>
      <h3>Product Owner</h3>
    </div>
  </div>
  <div class="about-card">
    <div class="about-card-contents">
      <p>Iben</p>
      <%= image_tag "image.png" %>
      <h3>Lead Developer</h3>
    </div>
  </div>
  <div class="about-card">
    <div class="about-card-contents">
      <p>José Luis</p>
      <%= image_tag "Jose.jpeg" %>
      <h3>Project Manager</h3>
    </div>
  </div>
</div>








<!-- <div class="row">
  <div class="column">
    <div class="card">
      <img src="#" alt="Mariana" style="width:100%">
      <div class="container">
        <h2>Mariana Galán</h2>
        <p class="title">Lead Designer</p>
        <p>Bio</p>
        <p>mariana@decide.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="#" alt="Iben" style="width:100%">
      <div class="container">
        <h2>Iben Flores</h2>
        <p class="title">Lead Dev</p>
        <p>Bio</p>
        <p>Iben@decide.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="#" alt="Jolie" style="width:100%">
      <div class="container">
        <h2>Jolie Adam</h2>
        <p class="title">Product Owner</p>
        <p>Bio</p>
        <p>jolie@decide.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="#" alt="Jose" style="width:100%">
      <div class="container">
        <h2>Jose Luis Matias Pineda</h2>
        <p class="title">Project Manager</p>
        <p>Bio</p>
        <p>jose@decide.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
 -->
