<div class="background-pattern">
  <div>
    <h1>Decide for me</h1>
    <h5>Collective Decision Making. No more drama. Let's vote. </h5>
    <div id="button-home-page">
     <%= link_to "See all dilemmas", dilemmas_path %>
    </div>
  </div>
</div>
<div class="icon-container">
  <h1> Problem </h1>
  <div id="icons-page" class="container-content-icons">
    <div class="contents-container">
      <i class="fas fa-dizzy"></i>
      <br>
      <br>
      <br>
      <p>Life or Death matter(maybe not)</p>
      <h1 class="number-card">1</h1>
    </div>
  </div>
  <div id="icons-page" class="container-content-icons">
    <div class="contents-container">
      <i class="fas fa-grimace"></i>
      <br>
      <br>
      <br>
      <p>Need some feedback</p>
      <h1 class="number-card">2</h1>
    </div>
  </div>
  <div id="icons-page" class="container-content-icons">
    <div class="contents-container">
      <i class="fas fa-hand-peace"></i>
      <br>
      <br>
      <br>
      <p>Post it!</p>
      <h1 class="number-card">3</h1>
    </div>
  </div>
  <div id="icons-page" class="container-content-icons">
    <div class="contents-container">
      <i class="fas fa-smile-wink"></i>
      <br>
      <br>
      <br>
      <p>Vote it!</p>
      <h1 class="number-card">4</h1>
    </div>
  </div>
</div>
<div id="member-container">
  <div id="container-card-action">
    <div id="card-individual">
      <h3>Visitor</h3>
      <i class="fas fa-user-secret"></i>
      <p>Just looking</p>
    </div>
    <div id="card-individual2">
      <p>Browse</p>
    </div>
    <div id="card-individual2">
      <p>Dilemmas</p>
    </div>
    <div id="card-individual2">
      <%= link_to "Sign Up", new_user_registration_path %>
    </div>
  </div>
  <div id="container-card-action2">
    <div id="card-individual">
      <h3>User</h3>
      <i class="fas fa-grin-stars"></i>
      <p>Interact with users</p>
    </div>
    <div id="card-individual3">
      <p>Browse dilemmas</p>
    </div>
    <div id="card-individual3">
      <p>Select Category</p>
    </div>
    <div id="card-individual3">
      <%= link_to "Create a dilemma", new_dilemma_path %>
    </div>
  </div>
</div>
