<div class="background-color">
  <div>
    <h1>Decide 4 me  ;) </h1>
    <br>
    <h5>Collective Decision Making. No more drama. Let's vote. </h5>
    <br>
    <br>
    <br>
    <div id="button-home-page">
     <%= link_to "Dilemma // Pedo // 定案 // معضلة // дилемма ", @index_path %>
    </div>
  </div>
</div>
<div class="icon-container">
  <h1> 4 baby steps... </h1>
  <div id="icons-page" class="container-content-icons">
    <div class="contents-container">
      <i class="fas fa-hand-peace"></i>
      <br>
      <br>
      <br>
      <p>Need some feedback</p>
      <h1 class="number-card">1</h1>
    </div>
  </div>
  <div id="icons-page" class="container-content-icons">
    <div class="contents-container">
      <i class="fas fa-dizzy"></i>
      <br>
      <br>
      <br>
      <p>Life or Death matter.</p>
      <h1 class="number-card">2</h1>
    </div>
  </div>
  <div id="icons-page" class="container-content-icons">
    <div class="contents-container">
      <i class="fas fa-grimace"></i>
      <br>
      <br>
      <br>
      <p>You desperately need input</p>
      <h1 class="number-card">3</h1>
    </div>
  </div>
  <div id="icons-page" class="container-content-icons">
    <div class="contents-container">
      <i class="fas fa-smile-wink"></i>
      <br>
      <br>
      <br>
      <p>Just post it on Decide 4 Me</p>
      <h1 class="number-card">4</h1>
    </div>
  </div>
</div>
<div id="member-container">
  <div id="container-card-action">
    <div id="card-individual">
      <h3>Mirón</h3>
      <i class="fas fa-user-secret"></i>
      <p>Sneak peak</p>
    </div>
    <div id="card-individual">
      <h3>User</h3>
      <i class="fas fa-grin-stars"></i>
      <p>Log in as a User</p>
    </div>
  </div>
</div>
