<div class="container d-flex">
  <div>
    <h2><%= @dilemma.question %></h2>
    <% @dilemma.options.each do |option| %>
      <%= link_to option.description, upvotes_path(opstion.id), method: :post %>
      <% percentage = @dilemma.options.reduce(0) { |sum, option| sum + option.upvotes } %>
        <% if percentage > 0 %>
          <%= (option.upvotes * 100) / percentage  %> %
        <% else %>
          50%
        <% end %>
      <% end %>
  </div>

  <div>

  </div>

  <br>
  <%= link_to "See all dilemmas", dilemmas_path %>
</div>
