.btn-sober {
  color: white;
  padding: 8px 30px;
  border-radius: 1px;
  background: black;
  transition: background 0.3s ease;
  :hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
}
