.btn-sober {
  color: white;
  padding: 8px 50px;
  border-radius: 1px;
  background: black;
  transition: 0.3s ease;
}

.btn-sober:hover {
  background: white;
  color: black;
}

#button-show {
  position: absolute;
  top: 60%;
  right: 60%;
}

#button-show a {
  color: white;
  padding: 20px;
}

.btn {
  border-radius: 5px;
}
