.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.easy {
  background-color: $easy;
}

.medium {
  background-color: $medium;
}

.hard {
  background-color: $hard;
}

.card-category:hover{
  opacity: .5;
}

.title-card {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px;
  background-color: $success;
}

.narrow-box {
  width: 250px;
  margin-right: 40px;
  margin-left: 10px;
  h5 {
    color: black;
  }
}

.narrow-viewport {
  width: 60%;
  background-color: $saffron;
  padding: 100px;
  margin: 20px auto;
  box-sizing: content-box;
}

.background-color-input-form {
  background-color: #f4e6ba;
}
