.card-ghost {
  opacity: .97;
}

.card-ghost:hover{
  opacity: 1;
  box-shadow: 0 8px 40px rgba(0,0,0,.6);
}

.card-category-easy {
  min-height: 15em;
  width: 100%;
  box-sizing: border-box;
  padding: 2em;
  position: relative;
}

.card-tape-featured {
  height: 20px;
  width: 60px;
  background-color: rgba(214,165,19,0.8);
  position: absolute;
  top: -12px;
  right: 87px;
}

.card-category-easy:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: $easy;
}

.card-category-easy:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: darken($easy, 10%) transparent;
}

.card-category-medium {
  min-height: 15em;
  width:  100%;
  box-sizing: border-box;
  padding: 2em;
  position: relative;
}

.card-category-medium:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: $medium;
}

.card-category-medium:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: darken($medium, 10%) transparent;
}

.card-category-hard {
  min-height: 15em;
  width:  100%;
  box-sizing: border-box;
  padding: 2em;
  position: relative;
}

.card-category-hard:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: $hard;
}

.card-category-hard:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: darken($hard, 10%) transparent;
}

.card-note-text {
  a {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    font-family: $headers-font;
    text-decoration: none;
  }
}

.easy {
  background-color: $easy;
}

.medium {
  background-color: $medium;
}

.hard {
  background-color: $hard;
}

.narrow-box {
  width: 250px;
  margin-right: 40px;
  margin-left: 10px;
  h5 {
    color: black;
  }
}

.narrow-viewport {
  width: 60%;
  padding: 90px;
  margin: 0 auto;
  background-color: $blue;
  box-sizing: content-box;
  h5 {
    color: black;
  }
}

.background-color-input-form {
  background-color: #58e6fc;
}

.background-color-comment-form {
  background-color: #d3f6ff;
}

.show-options {
  box-sizing: content-box;
  a {
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.8;
  }
}

.card-box-show {
  width: 70%;
  box-sizing: content-box;
}

.circle-percentage {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-show {
  height: 100vh;
}

.parent {
  position: relative;
}

.child-comment-icons {
  position: absolute;
  top: 6px;
  right: 2px;
  i {
    font-size: 24px;
    color: gray;
    padding-right: 10px;
  }
}

.card-fix {
  min-height: 15em;
  width:  15em;
}

.context-box {
  width: 60%;
  margin: 0 auto;
}

.dilemma-form-background {
  background-image: url("doodle.png");
  padding: 90px;
}

