.card-category:hover{
  opacity: .5;
}

.card-category-easy {
  min-height: 15em;
  width: 15em;
  box-sizing: border-box;
  text-align: justify;
  padding: 2em;
  position: relative;
}

.card-category-easy:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: $easy;
}

.card-category-easy:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: darken($easy, 10%) transparent;
}

.card-category-medium {
  min-height: 13em;
  width: 15em;
  box-sizing: border-box;
  text-align: justify;
  padding: 2em;
  position: relative;
}

.card-category-medium:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: $medium;
}

.card-category-medium:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: darken($medium, 10%) transparent;
}

.card-category-hard {
  min-height: 13em;
  width: 15em;
  box-sizing: border-box;
  text-align: justify;
  padding: 2em;
  position: relative;
}

.card-category-hard:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: $hard;
}

.card-category-hard:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: darken($hard, 10%) transparent;
}

.card-note-text {
  a {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
  }
}

.easy {
  background-color: $easy;
}

.medium {
  background-color: $medium;
}

.hard {
  background-color: $hard;
}

.title-card {
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px;
  background-color: $success;
}

.narrow-box {
  width: 250px;
  margin-right: 40px;
  margin-left: 10px;
  h5 {
    color: black;
  }
}

.narrow-viewport {
  width: 60%;
  background-color: $blue;
  padding: 80px;
  margin: 0 auto;
  box-sizing: content-box;
  h5 {
    color: black;
  }
}

.background-color-input-form {
  background-color: #58e6fc;
}

.show-options {
  box-sizing: content-box;
  a {
    color: black;
    font-size: 20px;
    font-weight: bold;
  }
  a:hover {
    color: white;
    text-decoration: none;
    opacity: 0.8;
  }
}

.card-box-show {
  width: 70%;
  box-sizing: content-box;
}

.background-pattern {
  background-image: url("doodle.png");
  padding: 90px;
}

.circle-percentage {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-show {
  height: 100vh;
}

.parent {
  position: relative;
}

.child-comment-icons {
  position: absolute;
  top: 6px;
  right: 2px;
  i {
    font-size: 24px;
    color: gray;
    padding-right: 10px;
  }
}
