.navbar-lewagon {
  justify-content: space-between;
  background: #363945;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
}

.nav-item a {
  color: white;
}

#nav-bar-button a {
  color: white;
}

.dropdown a {
  color: black;
}

#login-letters a {
  color: white;
}
