#form-new-user {
  color: white;
  text-align: left;
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
  border: 4px solid;
  padding: 40px;
  border-radius: 10px;
  border-color: #ff470f;
  background-image: linear-gradient(to bottom right, #ff470f, #8A27E4);
  align-item: center;
}

#form-new-user a {
  color: white;
}

.form-actions a {
  color: white;
  text-align: center;
}

#button-submit {
  margin: 0 auto;
  color: white;
  border-radius: 200%;
  height: 4em;
  width: 4em;
  display: flex;
  align-items: center;
}
