#form-new-user {
  color: white;
  text-align: left;
  width: 30%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgba(255, 71, 15, 0.7), rgba(138, 39, 228, 0.7));
  align-item: center;
  h2 {
    font-family: $body-font;
    color: black;
  }
  a {
    color: $blue;
  }
  a:hover {
    color: $yellow;
    font-weight: bold;
    text-decoration: none;
  }
}
