.share-btn {
  position: absolute;
  right: 110px;
}


.share-btn > a {
    padding: 5px;
    font-size: 12px;
    font-family: Verdana, Arial;
    color: white;
}
.share-btn > a:hover {
    cursor: pointer;
}


.share-btn {
  .btn-twitter {
    background-color: #00ADEE;
  }
}

.share-btn {
  .btn-telegram {
    background-color: #2CA5E0;
  }
}

.share-btn {
  .btn-mail {
    background-color: #F14336;
  }
}

.share-btn {
  .btn-facebook {
    background-color: #2E4B82;
  }
}
