@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;

.center {
  position: absolute;
  top: 50px;
  left: 40px;
  height: 299px;
  width: 320px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}

.profile {
  float: left;
  width: 200px;
  height: 320px;
  text-align: center;

  .image {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 38px auto 0 auto;

    .circle-1 {
      position: absolute;
      box-sizing: border-box;
      width: 76px;
      height: 76px;
      top: -3px;
      left: -3px;
      border-width: 1px;
      border-style: solid;
      border-color: $brown $brown $brown transparent;
      border-radius: 50%;
      transition: all 1.5s ease-in-out;
    }

    img {
      display: block;
      border-radius: 50%;
      background: #F5E8DF;
    }

    &:hover {
      cursor: pointer;

    }

  }

  .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
  }

  .job {
    font-size: 11px;
    line-height: 15px;
  }

  .actions {
    margin-top: 33px;

    .btn {
      display: block;
      width: 120px;
      height: 30px;
      margin: 0 auto 10px auto;
      background: none;
      border: 1px solid $brown;
      border-radius: 15px;
      font-size: 12px;
      font-weight: 600;
      box-sizing: border-box;
      transition: all .3s ease-in-out;
      color: $brown;

      &:hover {
        background: $brown;
        color: #fff;
      }
    }
  }
}

.stats {
  float: left;

  .box {
    box-sizing: border-box;
    width: 120px;
    height: 99px;
    background: #F5E8DF;
    text-align: center;
    padding-top: 28px;
    transition: all .4s ease-in-out;

    &:hover {
      background: #E1CFC2;
      cursor: pointer;
    }

    &:nth-child(2) {
      margin: 1px 0;
    }

  }

  span {
    display: block;
  }

  .value {
    font-size: 18px;
    font-weight: 600;
  }

  .parameter {
    font-size: 11px;
  }

}

.charts {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  h1 {
    color: $blue;
    font-family: $body-font;
    font-size: 20px;
  }
}

.chart {
  width: 70%;
  margin: 0 auto;
}

.profile-dilemma-box {
  box-sizing: content-box;
  height: 400px;
}

.feed-box {
  background-image: url("doodle.png");
}

.feed-user-container {
  background-color: rgba(0,0,0,0.8);
  border-radius: 8px;
  a {
    color: black;
  }
}

#text-grow {
  font-size: 18px;
  margin-bottom: 0px;
}
