// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.little-text {
  font-size: 12px;
}

.little-text-border {
  font-size: 10px;
  border: 1px dotted $gray;
}

.word:first-letter {
  font-size: 20px;
  font-weight: bold;
}
